/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Hind|Work+Sans');

:root {
    --body-font: 'Hind', sans-serif;
    --header-font: 'Work Sans', sans-serif;
    --body-text-color: rgba(0, 0, 0, 0.8);
    --body-dark-background-text-color: rgba(192, 223, 252, 1);
    --page-max-width: 1600px;
    --reading-width: 670px;
}

html {
    font-family: var(--body-font);
    color: var(--body-text-color);
    font-size: 16px;
}

body {
    max-width: var(--page-max-width);
    margin: 0 auto;
}

p {
    font-family: var(--body-font);
    margin: 1rem 15px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3 {
    font-family: var(--header-font);
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

a {
    outline: none;
    color: var(--body-text-color);
}

a:hover, a:focus {
    background-color: var(--body-dark-background-text-color);
}

a:link {
    transition: background-color .25s linear;
}

/* Header */

header {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 100%;
    max-width: var(--reading-width);
    margin: 0 auto 1rem auto;
    padding: 1rem;
}

.header-text {
    text-decoration: none;
}

.subheading {
    font-family: var(--header-font);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.current-page {
    background-color: var(--body-dark-background-text-color);
}

.product {
    padding-bottom: 2rem;
}

.product-name {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    width: 100%;
    margin: 0;
}

.product figure {
    margin: 0;
    position: relative;
    border-radius: 10%;
    outline: none;
}

.product figcaption {
    position: absolute;
    letter-spacing: 0.1em;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 99%;
    background-color: rgba(0, 0, 0, .6);
    transition: all 0.4s ease-in-out;
    opacity: 1;
}

img {
    max-width: 100%;
}

.product-page h3 {
    margin-top: 4rem;
}

details {
    margin: 0 0 2rem 2rem;
}

.soundholes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.soundhole {
    background-color: rgba(27, 3, 1, 1);
    margin: 1rem;
}

.soundhole img {
    max-width: 200px;
}

.soundhole p {
    margin: 0;
    text-align: center;
    color: wheat;
}

.screen-reader-only, .hide-menu-items {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

/* Footer */

footer {
    text-align: center;
    max-width: var(--reading-width);
    margin: 2rem auto 0 auto;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer nav a {
    padding: 1rem;
}

footer address {
    margin: 2rem 0;
}

@media only screen and (min-width: 451px) {
    h1 {
        font-size: 3.5rem;
    }

    section {
        margin: 0 auto;
    }

    .products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .product {
        margin: 0 .5rem;
    }

    .product figure img {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10%;
    }

    .product figcaption {
        border-radius: 10%;
    }
}

@media only screen and (min-width: 528px) {
  .product {
    width: 30%;
  }

  .product-name {
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 600px) and (min-width: 528px) {
  .product-name {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 981px) {
    h1 {
        font-size: 4.5rem;
    }

    .product figcaption {
        opacity: 0;
    }

    .product figure:hover figcaption,
    .product figure:focus figcaption {
        position: absolute;
        letter-spacing: 0.1em;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        height: 99%;
        background-color: rgba(0, 0, 0, .6);
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }

    .product-name {
      font-size: 3rem;
    }
}

@media only screen and (min-width: 1500px) {
    .product {
        width: inherit;
    }
}
